{% extends 'base/base.html' %}

{% block content %}
    <style>
        table td {
            align-content: center
        }
    </style>

    <h1>Lista de profesores</h1>

    {% if teacher_list %}
    <div class="panel panel-default panel-table mb-3">
      <div class="panel-heading">
      </div>

      <div class="panel-body">
        <table class="table table-striped table-curved table-hover table-bordered">


                    <thead class="thead-primary">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>DNI</th>
                        <th>Foto</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
            {% for teacher in teacher_list %}
                    <tbody>
                      <tr>
                          <td>{{ teacher.userAccount.first_name }}</td>
                          <td>{{ teacher.userAccount.last_name }}</td>
                          <td>{{ teacher.userAccount.email }}</td>
                          <td>{{ teacher.dni }}</td>
                          {% if teacher.photo%}
                              <td> <img src="{{ teacher.photo.url }}" width="150" border="1"/></td>
                          {%  endif %}
                          {% if not teacher.photo%}
                              <td> </td>
                          {%  endif %}
                          <td>{{ teacher.phone }}</td>
                          <td>
                              <a class="ui-button btn-icon-only btn-primary" title="Editar" href="/actors/teachers/edit/{{ teacher.pk }}">
                                <!--Editar-->
                                <i class="fas fa-edit fa-fw"></i>
                              </a>
                              <a class="ui-button btn-icon-only btn-danger" href="/actors/teachers/edit/delete/{{ teacher.pk }}">
                                <i class="far fa-times-circle fa-lg"></i>
                                <!--Borrar-->
                              </a>
                          </td>
                      </tr>
                    </tbody>
                {% endfor %}
              </table>
            </div>

            <div class="panel-footer table-header-primary table-footer">
              {% if teacher_list.has_other_pages %}
                  <ul class="pagination">
                      {% if teacher_list.has_previous %}
                          <li>
                            <a  class="ui-button ui-pagination ui-pagination-prev" href="?page={{ exercise_list.previous_page_number }}">
                              <i class="fas fa-angle-double-left"></i>
                            </a>
                          </li>
                      {% else %}
                      <li>
                        <a  class="ui-button ui-pagination ui-pagination-prev ui-pagination-disabled" href="#">
                          <i class="fas fa-angle-double-left"></i>
                        </a>
                      </li>
                      {% endif %}
                      {% for i in teacher_list.paginator.page_range %}
                          {% if teacher_list.number == i %}
                          <li>
                            <a class="ui-button ui-pagination ui-pagination-current" href="#">
                              <span>{{ i }}</span>
                            </a>
                          </li>
                              <!--<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>-->
                          {% else %}
                          <li>
                            <a class="ui-button ui-pagination ui-pagination-page" href="?page={{ exercise_list.previous_page_number }}">
                              <span>{{ i }}</span>
                            </a>
                          </li>
                              <!--<li><a href="?page={{ i }}">{{ i }}</a></li>-->
                          {% endif %}
                      {% endfor %}
                      {% if teacher_list.has_next %}
                      <li>
                        <a class="ui-button ui-pagination ui-pagination-next" href="?page={{ exercise_list.previous_page_number }}">
                          <i class="fas fa-angle-double-right"></i>
                        </a>
                      </li>
                          <!--<li><a href="?page={{ exercise_list.next_page_number }}">&raquo;</a></li>-->
                      {% else %}
                      <li>
                        <a class="ui-button ui-pagination ui-pagination-next ui-pagination-disabled" href="?page={{ exercise_list.previous_page_number }}">
                          <i class="fas fa-angle-double-right"></i>
                        </a>
                      </li>
                          <!--<li class="disabled"><span>&raquo;</span></li>-->
                      {% endif %}
                  </ul>
              {% endif %}
            </div>
          </div>

            {% else %}
            <div class="container-fluid mt-4 mb-4">
                <p></p>
                <p>No existen profesores.</p>
              </div>
            {% endif %}


    <div class="create ml-2">
        <input type="button" class="btn btn-primary"
               onclick="location.href='/actors/teachers/register';"
               value="Crear profesor"/>
        <a href="{% url 'upload_teachers' %}" class="btn btn-warning">Crear varios profesores</a>
    </div>



{% endblock %}
