{% extends 'base/base.html' %}

<!-- CONTENIDO -->
{% block content %}

    <h2>{{ titulo }}</h2>
    {{ form.userAccount.first_name }}
    <div class="row">

        <div class="container-fluid">
            <br/>
            <div class="col-md-12">

                <!-- Formulario Edición -->
                <form id="editar" enctype="multipart/form-data" method="post" action="" class="form" role="form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="actual_password" class="control-label">Contrase&#241;a actual</label>
                            <input class="form-control" name="actual_password" id="actual_password" type="password" placeholder="Contrase&#241;a actual" required/>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="new_password" class="control-label">Nueva contrase&#241;a</label>
                            <input class="form-control" name="new_password" id="new_password" type="password" placeholder="Nueva contrase&#241;a" required/>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="confirm_new_password" class="control-label">Confirmar nueva contrase&#241;a</label>
                            <input class="form-control" name="confirm_new_password" id="confirm_new_password" type="password" placeholder="Confirmar nueva contrase&#241;a" required/>
                        </div>
                    </div>
                    <!-- Tratamiento de Errores -->
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ field.label }}: {{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <!-- Botones -->
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <input type="submit" value="Actualizar" class="btn btn-primary"/>
                            <input type="button" class="btn btn-default"
                                   onclick="location.href='/actors/teacher/edit';" value="Cancelar"/>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}
