.idea/workspace.xml
__pycache__/
**__pycache__**
*__pycache__*
**/__pycache__*
*__pycache__/**
ClimbCodeDjango/climbcode/.vs/**
**/__pycache__/**
*.pyc
*.pyo
ClimbCodeDjango/climbcode/obj/**
ClimbCodeDjango/climbcode/bin/**
ClimbCodeDjango/climbcode/*.pyproj
ClimbCodeDjango/climbcode/*.pyproj.user
ClimbCodeDjango/climbcode/*.sln
ClimbCodeDjango/climbcode/*.sqlite3
ClimbCodeDjango/static/**
ClimbCodeDjango/media/**
