{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" href="{% static '../static/css/licences.css' %}">
{% endblock %}
{% block extrastatic %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/licenses.js"></script>
{% endblock %}

<h3>Escoge tu licencia</h3>

<div class="container">
    <div class="row text-center">

        <!-- Pinta cada licencia como una columna -->
        {% for license in licenseTypes %}
            <div class="col-sm-3 mx-auto custom-control custom-radio card-checkbox">
              <label for="customControlValidation{{ license.id}}">
                <input type="radio" class="custom-control-input"
                  name="licenseSelect"
                  id="customControlValidation{{ license.id }}" required="true"
                  onchange="checkCustomCheckbox(this);
                    CustomFillLicenseFields(this, { id:{{license.id}}, name:'{{license.name}}', users:{{license.numUsers}}, exercises:{{license.numFreeExercises}}, price:'{{license.price}}', });">
                <div class="pricing-wrapper custom-control-label card-checkbox-wrapper">
                    <div class="pricing-table card-checkbox-content">
                        <div class="price-wrap">
                            <span class="price">{{ license.price }} &euro;</span><small>/a&#241;o</small>
                        </div>
                        <hr />
                        <span class="type">
                            {{ license.name }}
                        </span>
                        <hr />
                        <p class="description">
                            &#161; {{ license.numUsers }} cuentas de usuario !
                            <br/>
                            &#161; {{ license.numFreeExercises }} ejercicios gratuitos !
                        </p>
                        <hr />
                        <!--
                        <button type="button" id="selectedLicense{{license.id}}" class="btn btn-info"
                                onclick="FillLicenseFields({ id:{{license.id}}, name:'{{license.name}}', users:{{license.numUsers}}, exercises:{{license.numFreeExercises}}, price:'{{license.price}}', });">
                            SELECCIONAR
                        </button>
                      -->
                    </div>
                </div>
              </label>
            </div>
        {% endfor %}
    </div>

    <div id="licensePersonalization"></div>
</div>
