{% extends 'base/base.html' %}
{% load staticfiles %}


{% block extrastatic %}
    <style type="text/css" media="screen">
            #editor {
              margin-top: 15px;
              width: auto;
              height: 250px;
            }
        </style>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/notebook.js"></script>
        
        
        <script src="/static/js/ace-editor/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>


        <script>
            $( document ).ready(function() {
                //INIT EDITOR CODIGO
                var idEditor = "idEditor1";
                var editor = ace.edit(idEditor);
                editor.getSession().setMode("ace/mode/javascript");
                editor.getSession().setTabSize(4);
                editor.getSession().setUseWrapMode(true);
                editor.setFontSize(16);
                editor.setShowPrintMargin(false);
                var heightUpdateFunction = function() {                    
                    $('#'+idEditor).height("250px");
                    $('#editor-section').height("250px");
                    // This call is required for the editor to fix all of
                    // its inner structure for adapting to a change in size
                    editor.resize();
                    };
                // Set initial size to match initial content
                heightUpdateFunction();
                // Whenever a change happens inside the ACE editor, update
                // the size again
                editor.getSession().on('change', heightUpdateFunction);

                //INIT CHART

                idChart ="myChart_idBox4";
                var ctx = document.getElementById(idChart);
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: [{
                            label: 'Nombre Gráfica',
                            data: [],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        chartArea: {
                            backgroundColor: 'rgba(251, 255, 255, 0.4)',
                        },
                        maintainAspectRatio: false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });

                });

        </script>

{% endblock %}

{% block title %}
Notebookv1
{% endblock %}
{% block content %}
<div style="width:80%;margin-left: 10%">
    <h1 style="text-align: center">Ejercicio de estadística</h1>
    <div class="row" style="background-color: #bbbabb">
        <div class="col-md-12" style="height: auto;">
            <div class="row">
                <!-- CABECERA CON TITULO Y SUBTITULO -->
                <div class="col-md-12 custom-mt-1" >
                    <div style="background-color: #ebebeb;width: auto;height: 200px;padding-top: 15px">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="form-group">
                                    <label for="username">Título:</label>
                                    <input class="form-control" type="text" name="title" value="ESTADÍSTICA">
                               </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="form-group">
                                    <label for="username">Subtítulo:</label>
                                    <input class="form-control" type="text" name="subtitle" value="Media y desviación típica">
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CAJA CONTENIDO NOTEBOOK -->
                <div class="col-md-12 custom-mt-1">
                    <div id="notebook_content" style="background-color: #ebebeb;width: auto;height: 4000px">
                        <div class="col-md-12" style="margin-top: 20px;text-align:center">
                            
                            <div class="row">
                                <div class="col-md-12" style="background-color:#bbbabb">
                                    <h2 style="text-align: center">Añadir Cuadro</h2>
                                    <div class="row">
                                        <div class="col-md-2 offset-md-3"  style="margin-top: 20px;margin-bottom: 20px">
                                            <button type="submit" class="btn btn-primary" onclick="addTextBox('notebook_content');">
                                               Texto
                                            </button>
                                        </div>
                                        <div class="col-md-2"  style="margin-top: 20px;margin-bottom: 20px">
                                            <button type="submit" class="btn btn-primary" onclick="addCodeBox('notebook_content');">
                                               Código
                                            </button>
                                        </div>
                                        <div class="col-md-2"  style="margin-top: 20px;margin-bottom: 20px">
                                            <button type="submit" class="btn btn-primary" onclick="addImageBox('notebook_content');">
                                               Ilustración
                                            </button>
                                        </div>        
                                    </div>
                                </div>                                    
                            </div>                                                 
                        </div>
                    <div class="col-md-12 custom-mt-1" id="idBox1"><div class="row"><div class="col-md-12 custom-mt-1"><div class="form-group" style="padding:12px;"><img class="notebook-img" id="idImg1"  height="256px" width="512px"></div></div><div class="col-md-6 offset-md-3"><input class="form-control" id="idUrlInput1" type="text" placeholder="Establecer URL"></div><div class="col-md-12 offset-md-3"><button class="btn btn-info pull-right" style="margin-top:10px" onclick="updateImg('idImg1','idUrlInput1')" type="button">Actualizar URL</button><button class="btn btn-danger pull-right" style="margin-top:10px" onclick="deleteElement('idBox1')" type="button">Eliminar</button></div></div></div>
                    <div class="col-md-10 custom-mt-1 offset-md-1" id="idBox2"><div class="row"><div class="col-md-12 custom-mt-1"><div class="form-group" style="padding:12px;"><textarea onkeyup="auto_grow(this)" class="form-control text-box-textarea" placeholder="Escribe aquí" style="height: 150px;">Las alturas de los jugadores de un equipo de baloncesto vienen dadas en centímetros por la tabla:

 	Xij            Fi
[170, 175)	1
[175, 180)	3
[180, 185)	4</textarea><button class="btn btn-danger pull-right" style="margin-top:10px" onclick="deleteElement('idBox2')" type="button">Eliminar</button></div></div></div></div>
                    <div class="col-md-10 custom-mt-1 offset-md-1" id="idBox3"><div class="row"><div class="col-md-12 custom-mt-1"><div class="form-group" style="padding:12px;"><textarea onkeyup="auto_grow(this)" class="form-control text-box-textarea" placeholder="Escribe aquí" style="height: 130px;">Calcular:

1. La media.

2. La desviación típica </textarea><button class="btn btn-danger pull-right" style="margin-top:10px" onclick="deleteElement('idBox3')" type="button">Eliminar</button></div></div></div></div>

                        <div class="col-md-10 custom-mt-1 offset-md-1" id="idBox2"><div class="row"><div class="col-md-12 custom-mt-1"><div class="form-group" style="padding:12px;"><textarea onkeyup="auto_grow(this)" class="form-control text-box-textarea" placeholder="Escribe aquí" style="height: 150px;">Resolución:
a)
   1º) Calculamos la media de cada fila, que será:
        - (170 + 175)/2 multiplicado por el número de veces que aparece, es decir f1=1
             => 170=param1 ; 175=param2 ;   1 =param3
        - [(175 + 180)/2]*3  =>  175=param4 ;    180=param5 ;   3 =param6
        - [(180 + 185)/2]*4  =>  180=param7 ;    185=param8;    4 =param9

   2º) Sumamos las 3 medias y lo dividimos por el número total de muestras (Fi = f1+f2+f3)

b)
    1º) Calcular la media al cuadrado de cada fila y multiplicar por el numero de veces que aparece:

       - [(170 + 175)/2]^2 * 1
       - [(175 + 180)/2]^2 * 3
       - [(180 + 185)/2]^2 * 4

    2º) Sumamos las 3 medias al cuadrado calculadas en el apartado anterior y lo dividimos por el número total de muestras Fi

    3º) Cogemos el resultado anterior y le restamos la media del apartado a) al cuadrado

    4º) Hacemos la raíz cuadrada del resultado
                        </textarea><button class="btn btn-danger pull-right" style="margin-top:10px" onclick="deleteElement('idBox2')" type="button">Eliminar</button></div></div></div></div>


                        <div class="col-md-12 custom-mt-1" >
                            <div class="row" id="idBox4">
                                <div class="col-md-10 custom-mt-1 offset-md-1" >
                                    <h2 style="text-align: center">CUADRO DE CÓDIGO</h2>
                                    <div style="background-color: #ebebeb;margin-left: 30px; margin-right: 30px;width: auto;height: auto">
                                        <div class="row" id="idRowPrincipal4">
                                            <div class="col-md-12">
                                                <div id="idEditor1">
var x11 = parseInt(document.getElementById("param1").value);
var x12 = parseInt(document.getElementById("param2").value);
var f1 = parseInt(document.getElementById("param3").value);

var x21 = parseInt(document.getElementById("param4").value);
var x22 = parseInt(document.getElementById("param5").value);
var f2 = parseInt(document.getElementById("param6").value);

var x31 = parseInt(document.getElementById("param7").value);
var x32 = parseInt(document.getElementById("param8").value);
var f3 = parseInt(document.getElementById("param9").value);

var ctx = document.getElementById("myChart_idBox4");

media1 = ((x11 + x12)/2)*f1
media2 = ((x21 + x22)/2)*f2
media3 = ((x31 + x32)/2)*f3

media = (media1 + media2 + media3)/(f1+f2+f3)

desv1 = ((x11 + x12)/2)*((x11 + x12)/2)*f1
desv2 = ((x21 + x22)/2)*((x21 + x22)/2)*f2
desv3 = ((x31 + x32)/2)*((x31 + x32)/2)*f3

desviacion = Math.sqrt(((desv1+desv2+desv3)/(f1+f2+f3))- (media*media))

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Media','Desviación típica'],
        datasets: [{
            label: ['Media','Desviación típica' ],
            data: [media,desviacion],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)'
            ],
            backgroundColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: { display: false },
        title: {
            display: true,
            text: 'Media , Desviación típica'
        },
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
"";
                                                </div>
                                                <button class="btn btn-danger pull-right" style="margin-top:10px" onclick="deleteElement('idBox4')" type="button">Eliminar</button>
                                            </div>
                                            
                                            <div class="col-md-12" style="margin-top: 20px;">
                                                    <div class="row" style="padding: 15px;">                                                    
                                                        <div class="col-md-12 div-notebook-parameter" style="margin-top: 20px;background-color: white">
                                                        <h3 style="text-align:center">Parámetros</h3>
                                                            <div class="row" id="id_div_parameter_4">
                                                                <div class="col-md-2" style="margin-top: 20px;"><p>id: param1</p><input name="param1" value="170" class="form-control" id="param1" type="text"></div>
                                                                <div class="col-md-2"  style="margin-top: 20px;"><p>id: param2</p><input name="param2" value="175" class="form-control" id="param2" type="text"></div>
                                                                <div class="col-md-2" style="margin-top: 20px;"><p>id: param3</p><input name="param3" value="1" class="form-control" id="param3" type="text"></div>
                                                             </div>
                                                            <div class="row" id="id_div_parameter_4">
                                                                <div class="col-md-2" style="margin-top: 20px;"><p>id: param4</p><input name="param4" value="175" class="form-control" id="param4" type="text"></div>
                                                                    <div class="col-md-2" style="margin-top: 20px;"><p>id: param5</p><input name="param5" value="180" class="form-control" id="param5" type="text"></div>
                                                                <div class="col-md-2" style="margin-top: 20px;"><p>id: param6</p><input name="param6" value="3" class="form-control" id="param6" type="text"></div>
                                                             </div>
                                                            <div class="row" id="id_div_parameter_4">

                                                                <div class="col-md-2" style="margin-top: 20px;"><p>id: param7</p><input name="param7" value="180" class="form-control" id="param7" type="text"></div>
                                                                <div class="col-md-2" style="margin-top: 20px;"><p>id: param8</p><input name="param8" value="185" class="form-control" id="param8" type="text"></div>
                                                                <div class="col-md-2" style="margin-top: 20px;"><p>id: param9</p><input name="param9" value="4" class="form-control" id="param9" type="text"></div>

                                                                <div id="id_div_parameter_button_4" class="col-md-2" style="margin-top: 20px;"><p>Añadir Parámetro</p><button type="submit" class="btn btn-primary" onclick="addParameter('id_div_parameter_4','id_div_parameter_button_4');"> Añadir </button></div>
                                                             </div>

                                                        </div>
                                                    </div>
                                            </div>
                                            <div id="idColChartButtons1" class="col-md-4" style="margin-top: 20px;">
                                                <button type="submit" class="btn btn-primary" onclick="evalUserCodeAce('idEditor1');">
                                                   Ejecutar >>
                                                </button>
                                                <br><br>
                                                <h4>Resultado del código</h4>
                                                <input name="resultado_idEditor1" class="form-control resultado_code_editor"  id="resultado_idEditor1" type="text" disabled="disabled">
                                                <br><br>
                                            </div>

                                            <div class="col-md-12" id="myChart_idBox4_row" style="height="300">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <b><p style="text-align:center">chart id: myChart_idBox4</p></b>
                                                    </div>                      
                                                    <div class="col-md-12">
                                                        <canvas class="notebook-chart" id="myChart_idBox4" width="auto" height="300"></canvas>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>








                </div>                                        
            </div>
        </div>
    </div>
</div>



{% endblock %}