{% extends 'base/base.html' %}
{% load staticfiles %}


{% block extrastatic %}
    <style type="text/css" media="screen">
            #editor {
              margin-top: 15px;
              width: auto;
              height: 250px;
            }
        </style>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/notebook.js"></script>
        
        
        <script src="/static/js/ace-editor/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

{% endblock %}

{% block title %}
Notebookv1
{% endblock %}
{% block content %}
<div style="width:80%;margin-left: 10%">
    <h1 style="text-align: center">Crear Notebook</h1>
    <div class="row" style="background-color: #bbbabb">
        <div class="col-md-12" style="height: auto;">
            <div class="row">
                <!-- CABECERA CON TITULO Y SUBTITULO -->
                <div class="col-md-12 custom-mt-1" >
                    <div style="background-color: #ebebeb;width: auto;height: 200px;padding-top: 15px">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="form-group">
                                    <label for="username">Título:</label>
                                    <input class="form-control" type="text" name="title">
                               </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="form-group">
                                    <label for="username">Subtítulo:</label>
                                    <input class="form-control" type="text" name="subtitle">
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CAJA CONTENIDO NOTEBOOK -->
                <div class="col-md-12 custom-mt-1">
                    <div id="notebook_content" style="background-color: #ebebeb;width: auto;height: 4000px">
                        <div class="col-md-12" style="margin-top: 20px;text-align:center">
                            
                            <div class="row">
                                <div class="col-md-12" style="background-color:#bbbabb">
                                    <h2 style="text-align: center">Añadir Cuadro</h2>
                                    <div class="row">
                                        <div class="col-md-2 offset-md-3"  style="margin-top: 20px;margin-bottom: 20px">
                                            <button type="submit" class="btn btn-primary" onclick="addTextBox('notebook_content');">
                                               Texto
                                            </button>
                                        </div>
                                        <div class="col-md-2"  style="margin-top: 20px;margin-bottom: 20px">
                                            <button type="submit" class="btn btn-primary" onclick="addCodeBox('notebook_content');">
                                               Código
                                            </button>
                                        </div>
                                        <div class="col-md-2"  style="margin-top: 20px;margin-bottom: 20px">
                                            <button type="submit" class="btn btn-primary" onclick="addImageBox('notebook_content');">
                                               Ilustración
                                            </button>
                                        </div>        
                                    </div>
                                </div>                                    
                            </div>                                                 
                        </div>
                    </div>
                </div>                                        
            </div>
        </div>
    </div>
</div>



{% endblock %}