{% extends 'base/base.html' %}
{% load staticfiles %}


{% block extrastatic %}
    <style type="text/css" media="screen">
            #editor {
              margin-top: 15px;
              width: auto;
              height: 250px;
            }
        </style>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/notebook.js"></script>
        
        
        <script src="/static/js/ace-editor/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

{% endblock %}

{% block title %}
Notebookv1
{% endblock %}
{% block content %}

    <div class="row" style="background-color: #bbbabb">
        <div class="col-md-12" style="height: auto">
            <div class="row">
                <!-- CABECERA CON TITULO Y SUBTITULO -->
                <div class="col-md-12 custom-mt-1" >
                    <div style="background-color: white;width: auto;height: 200px">
                        <div style="width: auto;margin-left: 30px">
                            <h1>TÍTULO</h1>
                            <h3>Subtítulo</h3>
                        </div>
                    </div>
                </div>
                <!-- CAJA CONTENIDO NOTEBOOK -->
                <div class="col-md-12 custom-mt-1">
                    <div id="notebook_content" style="background-color: white;width: auto;height: 4000px">
                        <div class="col-md-12" style="margin-top: 20px;text-align:center">
                            
                            <div class="row">
                                <div class="col-md-12" style="background-color:#bbbabb">
                                    <h2 style="text-align: center">Add Box</h2>
                                    <div class="row">
                                        <div class="col-md-2 col-md-offset-3" id="add_parameter_button_box_3"  style="margin-top: 20px;margin-bottom: 20px">
                                            <button type="submit" class="btn btn-primary" onclick="addTextBox('notebook_content');">
                                               Text Box
                                            </button>
                                        </div>
                                        <div class="col-md-2" id="add_parameter_button_box_3"  style="margin-top: 20px;margin-bottom: 20px">
                                            <button type="submit" class="btn btn-primary" onclick="addCodeBox('notebook_content');">
                                               Code Box
                                            </button>
                                        </div>
                                        <div class="col-md-2" id="add_parameter_button_box_3"  style="margin-top: 20px;margin-bottom: 20px">
                                            <button type="submit" class="btn btn-primary" onclick="addImageBox('notebook_content');">
                                               Ilustration Box
                                            </button>
                                        </div>        
                                    </div>
                                </div>                                    
                            </div>                                                 
                        </div>
                    </div>
                </div>                                        
            </div>
        </div>
    </div>




{% endblock %}