{% extends 'base/base.html' %}
{% load staticfiles %}


{% block extrastatic %}
    <style type="text/css" media="screen">
            #editor { 
              margin-left: 15px;
              margin-top: 15px;
              width: auto;
              height: 400px;
            }
        </style>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/ace-editor/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
        <script>
            $( document ).ready(function() {
                var editor = ace.edit("editor");
                editor.getSession().setMode("ace/mode/javascript");
                editor.getSession().setTabSize(2);
                editor.getSession().setUseWrapMode(true);
            });
            
            function evalUserCodeAce(){
                var editor = ace.edit("editor");
                var s = editor.getValue();
                var resultado = eval(s);
                document.getElementById("resultado_ace").value = String(resultado);
            }
        </script>
{% endblock %}

{% block title %}
Notebookv1
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div style="background-color: #b9c9de;width: auto;height: 1200px"/>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div style="background-color: white;width: auto;height: 1200px"/>
                </div>
                
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <input name="resultado_ace" class="form-control"  id="resultado_ace" type="text" >
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div id="editor">function foo(items) {
  var x = "All this is syntax highlighted";
  return x;
}
foo();
</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="margin-top:15px">
            <button type="submit" class="btn btn-primary" onclick="evalUserCodeAce();">
               Run >>
            </button>
            <br><br>

            <p> Resultado caja sintaxis: </p>
            <input name="resultado_ace" class="form-control"  id="resultado_ace" type="text" disabled="disabled">
        </div>
    </div>

{% endblock %}