{% extends 'base/base.html' %}

{% block title %}InteracTeach{% endblock %}

<!-- CONTENIDO -->
{% block content %}
<div class="container">
    <br />
    <h2>{{ title }}</h2>

    <div class="row">

        <div class="container-fluid">
            <div class="col-md-12">

                <!-- FORMULARIO -->
                <form id="registro" enctype="multipart/form-data" method="post" action="{% url 'registerSchool' %}" class="form" role="form">
                    {% csrf_token %}

                    <!-- Tratamiento de Errores -->
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ field.label }}: {{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <!-- Licencia -->
                    {% include 'web/basicLicenses.html' %}

                    <hr/>

                    <!-- Escuela -->
                    <h3>Rellena tus datos</h3>
                    <br/>

                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="username" class="control-label">Nombre de usuario</label>
                            <input class="form-control" id="username" name="username" placeholder="Nombre de usuario" type="text" value="{{ form.username.value|default:"" }}" required autofocus/>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="email" class="control-label">Email</label>
                            <input class="form-control" id="email" name="email" placeholder="escuela@ejemplo.com" type="email" value="{{ form.email.value|default:"" }}" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="password" class="control-label">Contrase&#241;a</label>
                            <input class="form-control" name="password" id="password" type="password" placeholder="Contrase&#241;a" required/>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="confirm_password" class="control-label">Confirmar contrase&#241;a</label>
                            <input class="form-control" name="confirm_password" id="confirm_password" type="password" placeholder="Confirmar contrase&#241;a" required/>
                        </div>
                    </div>

                    <hr/>

                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="first_name" class="control-label">Nombre</label>
                            <input class="form-control" name="first_name" id="first_name" type="text" placeholder="Nombre" value="{{ form.first_name.value|default:"" }}" required/>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="last_name" class="control-label">Apellidos</label>
                            <input class="form-control" name="last_name" id="last_name" type="text" placeholder="Apellidos" value="{{ form.last_name.value|default:"" }}" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <label for="centerName" class="control-label">Nombre del Centro</label>
                            <input class="form-control" name="centerName" id="centerName" type="text" placeholder="Nombre del Centro" value="{{ form.centerName.value|default:"" }}" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="identificationCode" class="control-label">C&#243;digo de Identificaci&#243;n</label>
                            <input type="text" maxlength="9" class="form-control" name="identificationCode" id="identificationCode" placeholder="C&#243;digo de 8 d&#237;gitos para institutos; 9 para academias"
                                   value="{{ form.identificationCode.value|default:"" }}" required/>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="phone" class="control-label">Tel&#233;fono</label>
                            <input type="text" maxlength="9" class="form-control" name="phone" id="phone" placeholder="Tel&#233;fono" value="{{ form.phone.value|default:"" }}" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <label for="address" class="control-label">Direcci&#243;n</label>
                            <input type="text" maxlength="50" class="form-control" name="address" id="address" placeholder="Direcci&#243;n"
                                   value="{{ form.address.value|default:"" }}" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="province" class="control-label">Provincia</label>
                            <select class="form-control" id="province" name="province" required>
                                <!-- Si viene de validaci&#243;n, pinta la anterior -->
                                {% if provinceSelected != None %}
                                    <option value="{{ provinceSelected.id }}" selected="selected">{{ provinceSelected.name }}</option>
                                    {% for p in provinces %}
                                        <option value="{{ p.id }}">{{ p.name }}</option>
                                    {% endfor %}
                                <!-- Si es no, sin selecci&#243;n por defecto -->
                                {% else %}
                                <option value="" selected="selected">Seleccione una provincia</option>
                                    {% for p in provinces %}
                                        <option value="{{ p.id }}">{{ p.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="postalCode" class="control-label">C&#243;digo Postal</label>
                            <input type="text" maxlength="5" class="form-control" name="postalCode" id="postalCode" placeholder="C&#243;digo Postal"
                                   value="{{ form.postalCode.value|default:"" }}" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="type" class="control-label">Tipo de Escuela</label>
                            <select class="form-control" id="type" name="type" required>
                                <!-- Si viene de validaci&#243;n, pinta la anterior -->
                                {% if form.type.value %}
                                    {% for t in schoolTypes %}
                                        {% if t.0  == form.type.value %}
                                        <option value="{{ t.0 }}" selected="selected">{{ t.0 }}</option>
                                        {% else %}
                                        <option value="{{ t.0 }}">{{ t.0 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                <!-- Si es no, sin selecci&#243;n por defecto -->
                                {% else %}
                                <option value="" selected="selected">Seleccione un tipo</option>
                                    {% for t in schoolTypes %}
                                        <option value="{{ t.0 }}">{{ t.0 }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="teachingType" class="control-label">Tipo de Ense&#241;anza</label>
                            <select class="form-control" id="teachingType" name="teachingType" required>
                                <!-- Si viene de validaci&#243;n, pinta la anterior -->
                                {% if form.teachingType.value %}
                                    {% for tt in teachingTypes %}
                                        {% if tt.0  == form.teachingType.value %}
                                        <option value="{{ tt.0 }}" selected="selected">{{ tt.0 }}</option>
                                        {% else %}
                                        <option value="{{ tt.0 }}">{{ tt.0 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                <!-- Si es no, sin selecci&#243;n por defecto -->
                                {% else %}
                                <option value="" selected="selected">Seleccione un tipo</option>
                                    {% for tt in teachingTypes %}
                                        <option value="{{ tt.0 }}">{{ tt.0 }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <label for="photo" class="control-label">Foto de perfil</label>
                            <input class="form-control" name="photo" id="photo" type="file" placeholder="Foto de perfil del usuario" value="{{ form.photo.value|default:"" }}"/>
                        </div>
                    </div>

                    <hr/>


                    <!-- Botones -->
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <input type="hidden" name="next" value="/" />
                            <input type="submit" value="Proceder con el pago" class="btn btn-primary btn-block" />
                            <input type="button" class="btn btn-default btn-block" onclick="location.href='/';" value="Cancelar" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
{% endblock %}
