{% extends 'base/base.html' %}


{% block content %}
    <style>

    </style>


<div class="container">
    <h1>Saldo</h1>

    {% if user.actor.programmer.balance > 0.0 %}
        <input class="col-md-2 border-success" style="border-width: 6px" type="text"  value="{{ user.actor.programmer.balance|default:"0.0" }} €" disabled/>

        {% else %}
        <input class="col-md-2 border-danger" style="border-width: 6px" type="text" value="{{ user.actor.programmer.balance|default:"0.0" }} €" disabled/>

    {% endif %}
    </br></br>

</div>
        <p><b>*AVISO IMPORTANTE*</b>  Todos los pagos solicitados serán revisados y enviados el 25 de cada mes, si experimenta algún problema contacte con nosotros en <u>climbcode@gmail.com</u> </p>
{% endblock %}
