<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
	{% block extrastatic %}
	{% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- {{ STATIC_URL }} no resuelve (vacio) -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">


    <!-- Material icons de Google -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<title>{% block title %}Document {% endblock %}</title>
</head>
<body class="d-flex flex-column body-parent">
	{% block navbar %}
			{% if user.is_authenticated %}

					<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
							<a class="navbar-brand flex-align-center" href="/">
									<img style="width: auto; height: 20px; border-bottom: 0.4px solid;
  border-color: transparent;
                    justify-content: center;
  align-items: center;
  display: flex;" src="{% static 'img/ClimbCode_inv.png' %}" alt="InteracTeach" class="brand-icon"/>
							</a>
							<!--Botón de "colapso", se mostrará si la ventana es demasiado pequeña-->
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
							</button>
							<!-- Sección "colapsable", se agruparán si la ventana es demasiado pequeña -->
							<div class="collapse navbar-collapse" id="navbarNav">
									<!-- Elementos principales
									<ul class="navbar-nav ml-auto">
											<li class="dropdown">
													<a href="#" class="nav-link dropdown-toggle navbar-text" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															Ajustes <i style="height: 100%" class="material-icons">settings</i>
													</a>
													<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
															<a class="dropdown-item" href="#">Logout</a>
													</div>
											</li>
									</ul> -->
									<ul class="navbar-nav mr-auto">
									{% if user.actor.school %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="/web/showNotebook?idNotebook=12">Ver Ejemplo</a>
                                            </li>
											<li class="nav-item">
													<a class="nav-link" href="{% url 'list_teachers' %}">Mis Profesores</a>
											</li>
											<li class="nav-item">
													<a class="nav-link" href="{% url 'list_students' %}">Mis Alumnos</a>
											</li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'list_subjects' %}">Mis Asignaturas</a>
                                            </li>
											<li class="nav-item">
													<a class="nav-link" href="{% url 'list_exercisesS' %}">Ejercicios</a>
											</li>
											<li class="nav-item">
													<a class="nav-link" href="{% url 'list_own_exercisesS' %}">Mis ejercicios</a>
											</li>

									{% elif user.actor.programmer %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="/web/showNotebook?idNotebook=12">Ver Ejemplo</a>
                                            </li>
											<li class="nav-item">
													<a class="nav-link" href="{% url 'createNotebook' %}">Nuevo Ejercicio</a>
											</li>
											<li class="nav-item">
													<a class="nav-link" href="{% url 'list_exercisesP' %}">Ejercicios</a>
											</li>
											<li class="nav-item">
													<a class="nav-link" href="{% url 'list_own_exercisesP' %}">Mis ejercicios</a>
											</li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'show_balance' %}">Mi saldo</a>
                                            </li>


									{% elif user.actor.teacher %}
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/web/showNotebook?idNotebook=12">Ver Ejemplo</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'list_subjects' %}">Asignaturas</a>
                                                </li>
												<li class="nav-item">
													<a class="nav-link" href="{% url 'list_exercisesT' %}">Ejercicios</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="{% url 'list_school_exercisesT' %}">Ejercicios de la escuela</a>
												</li>

									{% elif user.actor.student %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="/web/showNotebook?idNotebook=12">Ver Ejemplo</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'list_subjects' %}">Asignaturas</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'list_school_exercisesST' %}">Ejercicios</a>
                                            </li>

									{% elif user.actor.administrator %}

                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'createPayout' %}">Realizar pagos</a>
                                         </li>

									{% endif %}

									</ul>
									<!-- Inicio/Cierre de sesión -->
						{% include 'base/loginpartial.html' %}
							</div>
					</nav>




			{% else %}
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
					<a class="navbar-brand flex-align-center" href="/">
							<img style="width: auto; height: 20px; border-bottom: 0.4px solid;
  border-color: transparent;
                    justify-content: center;
  align-items: center;
  display: flex;" src="{% static 'img/ClimbCode_inv.png' %}" alt="InteracTeach" class="brand-icon"/>
					</a>

					<!--Botón de "colapso", se mostrará si la ventana es demasiado pequeña-->
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
					</button>
					<!-- Sección "colapsable", se agruparán si la ventana es demasiado pequeña -->
					<div class="collapse navbar-collapse" id="navbarNav">
							<!-- Elementos principales -->
							<ul class="navbar-nav mr-auto">
									<li class="nav-item">
											<a class="nav-link" href="/">Inicio</a>
									</li>

							</ul>
							<ul class="navbar-nav ml-auto">

									<li class="nav-item">
											<a class="nav-link" href="/login">Iniciar Sesi&#243;n</a>
									</li>
									<li class="dropdown flex-align-center">
											<a style="border-top: 6px solid;border-color: transparent;" href="#" class="nav-link dropdown-toggle navbar-text" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Registrarse
											</a>
											<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
													<a class="dropdown-item" href="/register/school">Escuela</a>
													<a class="dropdown-item" href="/register/programmer">Programador</a>
											</div>
									</li>
							</ul>
					</div>
			</nav>
			{% endif %}
	{% endblock %}

<div class="body-container">
	{% block content %}

	{% endblock %}
</div>

{% block footer %}
			<footer class="page-footer font-small blue pt-4 mt-4 bg-dark text-white">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-3">
							<p class="column-title">Información</p>
							<p class="footer-text">En InteracTeach unimos el software con la educación para hacer la enseñanza amena
								y despertar el interés de los estudiantes, acercandolos así a las nuevas tecnologías</p>
						</div>

						<div class="col-sm-12 col-md-3">
							<p class="column-title">Equipo</p>

							<ul class="list-unstyled list-sm">
								<h6>Jefe de proyecto</h6>
								<li>Alejandro Román Rodríguez</li>
							</ul>

							<ul class=" list-unstyled list-sm">
								<h6>Jefe de negocio</h6>
								<li>Álvaro Domínguez Núñez</li>
							</ul>

							<ul class=" list-unstyled list-sm">
								<h6>Front-End</h6>
								<li>Miguel Ángel Baños Carretón</li>
								<li>Alejandro Garrido Resina</li>
							</ul>

							<ul class="list-unstyled list-sm">
								<h6>Back-End</h6>
								<li>Andrés Fernández Alés</li>
								<li>Álvaro Sánchez López</li>
								<li>Jesús Sosa Sánchez</li>
							</ul>
						</div>

						<div class="col-sm-12 col-md-3">
							<p class="column-title">Contacto</p>
							<p class="footer-text">Para contactar con nosotros sólo tienes que mandar un correo a cualquiera de estas direcciones:</p>
							<ul class="list-unstyled">
								<li>alvdomnun@alum.us.es</li>
								<li>aldonu1@gmail.com</li>
							</ul>
						</div>

						<div class="col-sm-12 col-md-3">
							<p class="column-title">Programación</p>
							<p class="footer-text">Si te interesa aprender a programar puedes consultarnos acerca de cursos de programación, o ver estas fantásticas páginas:</p>
							<a class="text-white" href="https://www.w3schools.com">W3Schools.com</a><br/>
							<a class="text-white" href="https://www.udemy.com/">Udemy.com</a>
						</div>
					</div>
				</div>
			</footer>
{% endblock%}
	<script src="/static/js/jquery-3.3.1.js"></script>
	<script src="/static/js/functions.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="/static/js/jquery-validate/jquery.validate.js"></script>
    <script src="/static/js/jquery-validate/additional-methods.js"></script>
    <script src="/static/js/jquery-validation-messages.js"></script>
    <link rel="stylesheet" href="{% static 'css/jquery.loadingModal.css' %}">
    <script src="/static/js/jquery.loadingModal.js"></script>
	{% block extrajs %}
	{% endblock %}


</body>
</html>
