{% extends 'base/base.html' %}

<!-- CONTENIDO -->
{% block content %}

<div class="container-fluid text-center">
    <!-- Si es usuario registrado, redirect al Inicio -->
    {% if user.is_authenticated %}
        <meta http-equiv="refresh" content="0;url=/"/>

    <!-- Si no, permite login -->
    {% else %}

    <div class="row text-center mt-4 mb-2">
          <div class="col-md-4">

          </div>

            <div class="col-md-4 text-left bordered-panel">
              <div class="login-icon-wrapper">
                <i class="fas fa-user login-icon"></i>
              </div>

              <h2 class="text-center">{{ titulo }}</h2>
              <hr class="mb-3"/>
                <!-- Formulario Login -->
                <form action="." method="post" class="form-horizontal">
                    {% csrf_token %}

                        <div class="form-group">
                            <label for="id_username" class="control-label">Nombre de usuario</label>
                            <div>
                                {{ form.username }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_password" class="control-label">Contrase&#241;a</label>
                            <div>
                                {{ form.password }}
                            </div>
                          </div>

                    <!-- Tratamiento de Errores -->
                    {% if form.errors %}
                        <div class="form-group">
                            <div class="alert alert-danger">
                                <strong>Por favor, introduzca un nombre de usuario y contrase&#241;a v&#225;lidos.</strong>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row mt-4">
                      <div class="col-md-6">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Iniciar Sesi&#243;n" class="btn btn-primary btn-block" />
                      </div>
                      <div class="col-md-6">
                        <input type="button" class="btn btn-orange text-white btn-block" onclick="location.href='/';" value="Cancelar" />
                      </div>
                    </div>

                    <!-- Botones -->

                </form>

            </div>
            <div class="col-md-4"/>

    </div>

    {% endif %}

</div>
</div>
{% endblock %}
<!-- FIN CONTENIDO -->

{% block scripts %}

{% endblock %}
