{% extends 'welcome/welcome-base.html' %}

{% block title %}ClimbCode{% endblock %}

{% block content %}
    <div class="container-fluid bgimg-1 parallax" id="home">
        <div class="card bg-primary text-white display-middle display-card">
            <div class="card-body">
                ¿QUÉ ES CLIMBCODE?
            </div>
        </div>
    </div>

    <div class="container" id="info">
        <h2>Información</h2>
        <p>Tal vez en vuestras clases, tanto profesores como alumnos, hagáis ejercicios para asentar lo que aprendéis o enseñáis a vuestros alumnos, pero, ¿qué pasaría si combinásemos la educación con el software para agilizar el hacer estos mismos ejercicios? La respuesta a esta pregunta es ClimbCode, una plataforma web que permite tanto a profesores como alumnos hacer ejercicios online de las asignaturas que cursan y enseñan.

            Gracias a ClimbCode el usuario puede hacer esos ejercicios de toda la vida que están en los libros, pero de una forma más amena e innovadora, simplemente a un clic de distancia. Con estos ejercicios interactivos, se puede complementar la educación de una manera novedosa, consiguiendo los mismos objetivos que con los ejercicios en papel, pero de una forma más entretenida.
        </p>
        <br/>
    </div>

    <div class="container-fluid bgimg-2 parallax" id="ejercicios-parallax">
        <div class="card bg-primary text-white display-middle display-card">
            <div class="card-body">
                ¿CÓMO SON LOS EJERCICIOS?
            </div>
        </div>
    </div>

    <div class="container" id="ejercicios">
        <h2>Ejercicios</h2>
        <p>Nuestros ejercicios son muy sencillos de ejecutar, puesto que a pesar de hacerse mediante software y programación, los profesores y alumnos no requieren conocimiento alguno de la materia para poder hacerlos y así mejorar su educación. Estos ejercicios contienen un enunciado y una explicación paso a paso, para que el alumno sea capaz de resolverlo simplemente añadiendo la respuesta de los mismos en los campos habilitados para ello.

            Gracias a esto, el alumno además podrá ver gráficamente los resultados de sus ejercicios mediante las gráficas que pueden incluir los mismos, además de dibujos para ayudarle a situarse en el ámbito del problema.
        </p>
        <br/>
        <a class="btn btn-secondary text-white d-flex justify-content-center align-content-center"
           style="font-weight: bold"
            href="/web/notebookVistaV1">
            Ejemplo</a>
        <br/>
    </div>

    <div class="container-fluid bgimg-3 parallax" id="programadores-parallax">
        <div class="card bg-primary text-white display-middle display-card">
            <div class="card-body">
                ¿CÓMO PUEDO COLABORAR?
            </div>
        </div>
    </div>

    <div class="container" id="programadores">
        <h2>Programadores</h2>
        <p>Los programadores tienen un papel muy intuitivo en nuestro sistema: Ellos crean los ejercicios interactivos que están en nuestro sistema, los cuales a su vez son utilizados por alumnos y profesores en sus asignaturas.

            Para crear un ejercicio, el programador sólo necesita registrarse, ya que nuestro sistema de creación de ejercicios interactivos online permite al usuario una gran personalización de los ejercicios que desee crear.

            Para crear todos sus ejercicios, el programador hará uso de JavaScript tanto para crear el contenido y utilizar los parámetros de los ejercicios como para diseñar las gráficas que desee utilizar, todo ello con ayuda de nuestra interfaz basada en cuadros.

            No solo eso, sino que además al crear ejercicios interactivos, el programador puede ponerlos a la venta en la plataforma, obteniendo un beneficio por cada vez que una escuela compre su ejercicio. ¿A qué esperas para participar con nosotros y ganar algo con ello?
        </p>
        <br/>
        <a class="btn btn-secondary text-white d-flex justify-content-center align-content-center" style="font-weight: bold"
            href="/register/programmer">
            Registro programadores</a>
        <br/>
    </div>

    <div class="container-fluid bgimg-4 parallax" id="escuelas-parallax">
        <div class="card bg-primary text-white display-middle display-card">
            <div class="card-body">
                ¿CÓMO PUEDO HACER USO DE CLIMBCODE?
            </div>
        </div>
    </div>

    <div class="container" id="escuelas">
        <h2>Escuelas</h2>
        <p>Las escuelas pueden suscribirse a nuestra plataforma cada curso para poder acceder a todo su contenido. Con esto pueden hacer uso de nuestros ejercicios interactivos para apoyar sus asignaturas, de tal forma que pueden además ampliar la cantidad de ejercicios ofrecidos a éstas comprando los que deseen.

            Además, con la suscripción de cada curso las escuelas pueden registrar a sus profesores y alumnos, para que puedan acceder al contenido del que disponen y hacer uso de él, junto con una batería inicial de ejercicios interactivos totalmente gratuitos para empezar a funcionar.

            ¿A qué esperas para complementar tu educación con ClimbCode?
        </p>
        <br/>
        <a class="btn btn-secondary text-white d-flex justify-content-center align-content-center" style="font-weight: bold"
            href="register/school">
            Registro escuelas</a>
        <br/>
    </div>

     <div class="container" id="licencias">
        <h2>Licencias</h2>
        <p>Para la suscripción anual de nuestras escuelas, ponemos a su disposición una serie de diferentes tipos de licencia, cada una con sus características propias en cuanto a precio, número de usuarios y ejercicios interactivos gratuitos a disposición de cada escuela:
            <ul>
                <li>Básico: 60 usuarios y 20 ejercicios gratuitos por 200€/año.</li>
                <li>Mediano: 200 usuarios y 50 ejercicios gratuitos por 550€/año.</li>
                <li>Grande: 500 usuarios y 75 ejercicios grauitos por 700€/año.</li>
            </ul>
        Cualquier duda respecto a las licencias, y si se desea adaptar alguna a las necesidades de la escuela, puede contactar con nosotros vía aldonu1@gmail.com o alvdomnun@alum.us.es.
        </p>
        <br/>
    </div>

    <div class="container" id="equipo">
        <h2>El equipo</h2>
        <p>ClimbCode está desarrollado por un equipo de siete personas. Estos somos nosotros:</p>
        <ul>
            <li><b>Alejandro Román Rodríguez:</b> Jefe de Proyecto</li>
            <li><b>Álvaro Domínguez Núñez:</b> Jefe de Negocio</li>
            <li>Desarrolladores Front-End:</li>
            <ul>
                <li><b>Miguel Ángel Baños Carretón</b></li>
                <li><b>Alejandro Garrido Resina </b></li>
            </ul>
            <li>Desarrolladores Back-End:</li>
            <ul>
                <li><b>Andrés Fernández Alés </b></li>
                <li><b>Álvaro Sánchez López </b> </li>
                <li><b>Jesús Sosa Sánchez  </b> </li>
            </ul>

        </ul>
    <p>Para contactar con nosotros sólo tienes que mandar un correo a alvdomnun@alum.us.es o aldonu1@gmail.com. ¡Cualquier duda que tengas podemos resolverla por correo!</p>
    </div>

{% endblock %}
