{% extends 'welcome/welcome-base.html' %}

{% block title %}
Web
{% endblock %}
{% block content %}
<div class="container-fluid bgimg-1 parallax" id="home">
    <div class="card bg-dark text-white display-middle display-card">
        <div class="card-body">
            ¿QUÉ ES CLIMBCODE?
        </div>
    </div>
</div>

    <div class="container" id="info">
        <h2>Información</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <br/>
    </div>


    <div class="container-fluid bgimg-1 parallax" id="ejercicios-parallax">
        <div class="card bg-dark text-white display-middle display-card">
            <div class="card-body">
                ¿CÓMO SON LOS EJERCICIOS?
            </div>
        </div>
    </div>

    <div class="container" id="ejercicios">
        <h2>Ejercicios</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <br/>
        <a class="btn btn-secondary text-white d-flex justify-content-center align-content-center"
           style="font-weight: bold"
            href="/web/notebookVistaV1">
            Ejemplo</a>
        <br/>
    </div>


    <div class="container-fluid bgimg-1 parallax" id="programadores-parallax">
        <div class="card bg-dark text-white display-middle display-card">
            <div class="card-body">
                ¿CÓMO PUEDO COLABORAR?
            </div>
        </div>
    </div>

    <div class="container" id="programadores">
        <h2>Programadores</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <br/>
        <a class="btn btn-secondary text-white d-flex justify-content-center align-content-center" style="font-weight: bold">
            Registro programadores</a>
        <br/>
    </div>

    <div class="container-fluid bgimg-1 parallax" id="escuelas-parallax">
        <div class="card bg-dark text-white display-middle display-card">
            <div class="card-body">
                ¿CÓMO PUEDO HACER USO DE CLIMBCODE?
            </div>
        </div>
    </div>

    <div class="container" id="escuelas">
        <h2>Escuelas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <br/>
        <a class="btn btn-secondary text-white d-flex justify-content-center align-content-center" style="font-weight: bold">Registro escuelas</a>
        <br/>
    </div>

{% endblock %}