@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
    /*font-size: 16px;
    line-height: 25px;
    font-family: 'Fira Sans', sans-serif;*/
}

.pricing-wrapper .pricing-table {
    border: 1px solid #5bc0de;
    padding: 20px;
    margin-top: 30px;
    background-color: #d0d0d0;
}

.pricing-wrapper .popular {
    color: #5bc0de;
}

.pricing-wrapper hr {
    border-top: 1px solid #5bc0de !important;
}

.pricing-wrapper .pricing-table .price-wrap {
    background-color: #e9e9e9;
    padding: 40px 20px 40px 20px;
}

.pricing-wrapper .type {
    font-weight: 900;
    font-size: 20px;
}

.pricing-wrapper .pricing-table .price {
    font-weight: 900;
    font-size: 30px;
}

.unit-price-user {
    padding-top: -2px;
    font-size: 12px;
    font-style: italic;
}

input#finalPrice {
    background-color: #8fe0f8;
    border: 2px solid #5bc0de;
    border-radius: 4px;
    font-style: italic;
}