{% extends 'base/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    <div class="table">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Título</td>
                <td>Descripción</td>
                <td>Ventas</td>
                <td>Dificultad</td>
            </tr>
            </thead>
            <tbody>
            {% if subject_exercises %}
                {% for exercise in subject_exercises %}
                        <tr>
                            <td>{{ exercise.title }}</td>
                            <td>{{ exercise.description }}</td>
                            <td>{{ exercise.sales }}</td>
                            <td>{{ exercise.level }}</td>
                        </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
            {% else %}
                <p></p>
                <p>Esta asignatura no tiene ningún ejercicio.</p>
            {% endif %}

    {% if subject_exercises.has_other_pages %}
        <ul class="pagination">
            {% if subject_exercises.has_previous %}
                <li><a href="?page={{ subject_exercises.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in subject_exercises.paginator.page_range %}
                {% if subject_exercises.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if subject_exercises.has_next %}
                <li><a href="?page={{ subject_exercises.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}
