{% extends 'base/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    <div class="table">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Nombre</td>
                <td>Curso</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {% if student_subjects %}
                {% for subject in student_subjects %}
                        <tr>
                            <td>{{ subject.name }}</td>
                            <td>{{ subject.course }}</td>
                            <td><a class="btn btn-default" href="/subjects/exercises/list/{{ subject.pk }}">Ejercicios</a></td>
                        </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
            {% else %}
                <p></p>
                <p>No estás matriculado en ninguna asignatura.</p>
            {% endif %}

    {% if student_subjects.has_other_pages %}
        <ul class="pagination">
            {% if student_subjects.has_previous %}
                <li><a href="?page={{ student_subjects.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in student_subjects.paginator.page_range %}
                {% if student_subjects.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if student_subjects.has_next %}
                <li><a href="?page={{ student_subjects.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}
