{% extends 'base/base.html' %}

{% block title %}
Sample dashboard
{% endblock %}

{% block content %}
    <div class="container-fluid mt-4">
        <h3>Formulario normal</h3>
        <form>
                <div class="row">

                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label for="inputSm">Texto pequeño:</label>
                            <input class="form-control form-control-sm" id="inputSm"></input>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label for="input">Texto medio (por defecto):</label>
                            <input type="text" class="form-control" id="input">
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label for="inputLg">Texto grande:</label>
                            <input class="form-control form-control-lg" id="inputLg"></input>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label for="textarea">Caja texto:</label>
                            <textarea rows="2" class="form-control" id="textarea"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label for="inputSm">Etiqueta:</label>
                            <div class="input-group">
                              <input id="inputGroup" type="text" class="form-control" placeholder="Recipient's username" aria-label="Nombre de usuario" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">@acme.com</span>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label>Checkbox:</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Opción 1
                              </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Opción 2
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="" disabled>Opción 3
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <label>Radio:</label>
                        <div class="radio">
                            <label><input type="radio" name="optradio">Opción 1</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio">Opción 2</label>
                        </div>
                        <div class="radio disabled">
                            <label><input type="radio" name="optradio" disabled>Opción 3</label>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-3">
                         <div class="form-group">
                          <label for="sel1">Combo:</label>
                             <div class="inputSelect">
                                 <select class="form-control dropdown dropdown-toggle" id="sel1">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                  </select>
                             </div>

                        </div>
                    </div>


                </div>
            <div class="row">
                <div class="col-md-3 ml-auto">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="btn btn-primary" type="submit" value="Aceptar">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="btn btn-danger" type="submit" value="Cancelar">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </form>
    </div>
{% endblock %}