{% extends 'base/base.html' %}
{% block title %}
Lista de ejercicios
{% endblock %}
{% block content %}
    <style>
        table th {
            text-align: center;
            vertical-align: middle;
        }

        .text {
            font-size: 18px;
            font-family: helvetica;
            font-weight: bold;
            color: #003d99;
            text-transform: uppercase;
        }

        .parpadea {

            animation-name: parpadeo;
            animation-duration: 5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            -webkit-animation-name: parpadeo;
            -webkit-animation-duration: 2s;
            -webkit-animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
        }

        @-moz-keyframes parpadeo {
            0% {
                opacity: 1.0;
            }
            50% {
                opacity: 0.0;
            }
            100% {
                opacity: 1.0;
            }
        }

        @-webkit-keyframes parpadeo {
            0% {
                opacity: 1.0;
            }
            50% {
                opacity: 0.0;
            }
            100% {
                opacity: 1.0;
            }
        }

        @keyframes parpadeo {
            0% {
                opacity: 1.0;
            }
            50% {
                opacity: 0.0;
            }
            100% {
                opacity: 1.0;
            }
        }
    </style>

    <div class="container-fluid">

        <br/>
        <h1>Lista de ejercicios</h1>
        <br/>

        <!-- Buscador -->
        {% if not ownList %}
            <div class="input-group">
                <form class="form-inline" action="{% url 'search_exercises' %}" method="get">
                    <div class="form-group">
                        <!-- Texto -->
                        <input type="text" class="form-control" placeholder="Buscador de ejercicios" name="q"
                               maxlength="30">
                    </div> &nbsp;
                    <div class="form-group">
                        <!-- Nivel -->
                        <select class="form-control" id="level" name="l">
                            <option value="" selected="selected">Nivel</option>
                            {% for l in levels %}
                                <option value="{{ l.0 }}">{{ l.0 }}</option>
                            {% endfor %}
                        </select>
                    </div> &nbsp;
                    <div class="form-group">
                        <!-- Asignatura -->
                        <select class="form-control" id="category" name="c">
                            <option value="" selected="selected">Asignatura</option>
                            {% for c in categories %}
                                <option value="{{ c.id }}">{{ c.course }}º {{ c.name }}</option>
                            {% endfor %}
                        </select>
                    </div> &nbsp;
                    <div class="form-group">
                        <button class="btn btn-info" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
            <hr/>
        {% endif %}

        <!-- Listado -->
        {% if exercise_list %}
        <div class="panel panel-default panel-table mb-3">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
            <table class="table table-striped table-curved table-hover table-bordered">


                    <thead class="thead-primary">
                    <tr>
                        {% if ownList == False %}
                            {% if numExercisesP > 0 or isSearch == True %}
                                <th></th>
                            {% endif %}
                            <th></th>
                        {% endif %}
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Asignatura</th>
                        {% if user.actor.programmer or user.actor.school or user.actor.teacher %}
                            <th>Ventas</th>
                        {% endif %}
                        <th>Nivel</th>
                        {% if user.actor.programmer and ownList %}
                            <th>¿Borrador?</th>
                            <th>¿Promocionado?</th>
                            <th>Fecha de comienzo</th>
                            <th>Fecha de fin</th>
                        {% endif %}
                        {% if ownList or user.actor.school and not ownList %}
                            <th>Acciones</th>
                        {% endif %}
                    </tr>
                  </thead>

                    <tbody>
                    {% for exercise in exercise_list %}

                        <tr>
                            {% if ownList == False %}
                                {% if numExercisesP > 0 or isSearch == True %}
                                    <td class="parpadea text">
                                        {% if exercise.promoted == True %}
                                            Promocionado
                                        {% endif %}
                                    </td>
                                {% endif %}
                                <td>
                                  <a class="ui-button btn-icon-only btn-default" title="Previsualizar"
                                           href="/web/previewNotebook?idNotebook={{ exercise.id }} ">
                                           <i class="fas fa-search fa-fw"></i>
                                           <!--Previsualizar-->
                                  </a>
                                </td>
                            {% endif %}
                            <td>{{ exercise.title }}</td>
                            <td>{{ exercise.description }}</td>
                            <td align="center">{{ exercise.category }}</td>
                            {% if user.actor.programmer or user.actor.school or user.actor.teacher %}
                                <td align="center">{{ exercise.sales }}</td>
                            {% endif %}
                            <td>{{ exercise.level }}</td>
                            {% if user.actor.programmer and ownList %}
                                {% if exercise.draft == True %}
                                    <td align="center">
                                        <i class="far fa-check-circle fa-lg text-success"></i>
                                    </td>
                                {% else %}
                                    <td align="center">
                                        <i class="far fa-times-circle fa-lg text-danger"></i>
                                    </td>
                                {% endif %}

                                {% if exercise.promoted == True %}
                                    <td align="center">
                                        <i class="far fa-check-circle fa-lg text-success"></i>
                                    </td>
                                {% else %}
                                    <td align="center">
                                        <i class="far fa-times-circle fa-lg text-danger"></i>
                                    </td>

                                {% endif %}

                                {% if exercise.promoted == True %}
                                    <td align="center">{{ exercise.startPromotionDate }}</td>
                                    <td align="center">{{ exercise.endPromotionDate }}</td>
                                {% else %}
                                    <td align="center">--</td>
                                    <td align="center   ">--</td>
                                {% endif %}
                            {% endif %}

                            {% if user.actor.school %}
                                {% if not ownList %}
                                    <td>
                                        <a class='btn btn-warning btn-md' href="{% url 'buy_exercise' exercise.id %}">Adquirir</a>
                                    </td>
                                {% endif %}
                            {% endif %}
                            {% if ownList %}
                                <td>
                                    <a class="ui-button btn-icon-only btn-default" title="Mostrar"
                                       href="/web/showNotebook?idNotebook= {{ exercise.id }} ">
                                        <i class="fas fa-search fa-fw"></i>
                                        <!--Mostrar-->
                                    </a>
                                    {% if user.actor.programmer %}
                                        {% if exercise.draft == True %}
                                            <a class="ui-button btn-icon-only btn-default btn-orange" title="Editar"
                                               href="/web/editNotebook?idNotebook= {{ exercise.id }} ">
                                                <i class="fas fa-edit fa-fw"></i>
                                                <!--Editar-->
                                            </a>

                                        {% endif %}

                                        {% if exercise.promoted == False and exercise.draft == False %}

                                            <a class="ui-button btn-icon-only btn-default btn-yellow"
                                               title="Promocionar" href="{% url 'promote_exercise' exercise.id %}">
                                                <i class="fas fa-star"></i>
                                                <!--Promocionar-->
                                            </a>

                                        {% endif %}
                                    {% endif %}
                                    </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>

            </table>
          </div>
          <div class="panel-footer table-header-primary table-footer">
            {% if exercise_list.has_other_pages %}
                <ul class="pagination">
                    {% if exercise_list.has_previous %}
                        <li>
                          <a  class="ui-button ui-pagination ui-pagination-prev" href="?page={{ exercise_list.previous_page_number }}">
                            <i class="fas fa-angle-double-left"></i>
                          </a>
                        </li>
                    {% else %}
                    <li>
                      <a  class="ui-button ui-pagination ui-pagination-prev ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-left"></i>
                      </a>
                    </li>
                    {% endif %}
                    {% for i in exercise_list.paginator.page_range %}
                        {% if exercise_list.number == i %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-current" href="#">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                            <!--<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>-->
                        {% else %}
                        <li>
                          <a class="ui-button ui-pagination ui-pagination-page" href="?page={{ i }}">
                            <span>{{ i }}</span>
                          </a>
                        </li>
                            <!--<li><a href="?page={{ i }}">{{ i }}</a></li>-->
                        {% endif %}
                    {% endfor %}
                    {% if exercise_list.has_next %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next" href="?page={{ exercise_list.next_page_number }}">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                        <!--<li><a href="?page={{ exercise_list.next_page_number }}">&raquo;</a></li>-->
                    {% else %}
                    <li>
                      <a class="ui-button ui-pagination ui-pagination-next ui-pagination-disabled" href="#">
                        <i class="fas fa-angle-double-right"></i>
                      </a>
                    </li>
                        <!--<li class="disabled"><span>&raquo;</span></li>-->
                    {% endif %}
                </ul>
              {% endif %}
          </div>
        </div>

        {% else %}
            <p></p>
            <p>No existen ejercicios.</p>
        {% endif %}

        {% if user.actor.programmer and ownList %}
            <div class="create">
                <input type="button" class="btn btn-default btn-primary"
                       onclick="location.href='/web/createNotebook';"
                       value="Crear ejercicio"/>

            </div>
            <br/>
            <hr/>
            <div class="create text-center">
                <h5>¿Creando tu primer ejercicio? Te recomendamos el tutorial de creación de ejercicios interactivos para entender nuestra herramienta de código</h5>
                <br/>
                <input type="button" class="btn btn-default btn-primary"
                       onclick="window.open('https://www.youtube.com/watch?v=YOtx6iJxzzc')"
                       value="Ver tutorial"/>
            </div>
                <br/>
                <hr/>

        {% endif %}



    </div>
{% endblock %}
